<div id="topic">
  <header>
    <h1><%= @block.day %></h1>
  </header>

  <header>
    <h2><%= @topic.name %></h2>

    <ul class="actions">
      <li><%= link_to "Edit Topic", [:edit, @block, @topic],
        class: "edit" %>
      </li>
      <li><%= link_to "Delete Topic", [@block, @topic], method: :delete,
        data: { confirm: "Are you sure you want to delete this topic?"},
        class: "delete" %>
      </li>
    </ul>
  </header>

  <%= simple_format(@topic.description) %>
</div>