<% title(@block.day, "Blocks") %>

<header>
  <h1><%= @block.day %></h1>

  <ul class="actions">
    <li><%= link_to "Edit Block", edit_block_path(@block), class: "edit" %></li>
    <li><%= link_to "Delete Block", block_path(@block),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this block?" },
      class: "delete" %></li>
  </ul>
</header>

<h1><%= @block.day %></h1>
<p><%= @block.time %></p>